h2-border-radius = 4px

.errorbox
  margin-bottom: 20px

  h2
    display:               minline-block
    text-shadow:           0 1px 2px rgba(0,0,0,.3)
    padding:               6px 11px
    color:                 #fff
    -webkit-border-radius: h2-border-radius
    -moz-border-radius:    h2-border-radius
    border-radius:         h2-border-radius
    background:            #cc0000
    text-transform:        uppercase
    margin-right:          10px


  ul {
    color:           #cc0000
    padding:         10px 0
    list-style-type: square
    margin-left:     20px
    line-height:     20px